<div class="container">
    <div class="row">
      <div class="col-4" *ngFor="let yatch of yatchs">
        <div class="row">
          <div class="card" style="width: 300px;">
            <img  src="{{yatch.img}}" class="card-img-top" style="width: 280px; height: 180px; align-items: center;" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{yatch.nome}}</h5>
              <p class="card-text">
                <ul style="text-align: justify;">
                  <li>{{yatch.descrizione}}</li>
                  <li>Prezzo: €{{yatch.prezzo}}</li>
                </ul>
                <a href="#" class="btn btn-primary">Acquista</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  