<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let yatch of yatchs">
            <div class="card" style="width: 18rem;">
                <img src="{{yatch.img}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{yatch.nome}}</h5>
                  <p class="card-text">
                      {{yatch.descrizione}}
                      <ul>
                          <li>Prezzo: €{{yatch.prezzo}}</li>
                      </ul>
                  <a href="acquisto/{{yatch.id}}" class="btn btn-danger" id="{{yatch.id}}">Acquista</a>
                </div>
              </div>
        </div>
    </div>
  </div>
  