<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="4000">
      <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/cover-1631629430.jpg" class="d-block w-100 dimensione">
      <div class="carousel-caption d-none d-md-block box">
        <h4 class="white1">Bello yacht</h4>
        <h5 class="white1">250000 €</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="https://www.corriere.it/methode_image/2021/07/03/Tecnologia/Foto%20Tecnologia/yac1.JPG" class="d-block w-100 dimensione">
      <div class="carousel-caption d-none d-md-block box">
        <h4 class="white1">Yacht fantastico</h4>
        <h5 class="white1">400000 €</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://www.ragusanews.com//immagini_articoli/03-07-2021/negli-yacht-di-lusso-la-parola-d-ordine-e-il-ponte-oasi-500.jpg" class="d-block w-100 dimensione">
      <div class="carousel-caption d-none d-md-block box">
        <h4 class="white3">Yacht di lusso</h4>
        <h5 class="white3">600000000 €</h5>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>







