<!-- Pagina del login -->
<div class="container">
<div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Email</label>
</div>
<div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a class="btn btn-primary" type="button" href="" role="button">Button</a>
    <!-- mettere il link della pagina dopo il login nella href -->
  </div>
</div>
