<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: rgba(32, 178, 171, 0.200);">
    <div class="container-fluid"style="background-color: rgba(32, 178, 171, 0.200);">
      <a class="navbar-brand" 
      routerLink="/">Yatch</a>
      <button class="navbar-toggler" style="background-color: rgba(32, 178, 171, 0.562);" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item"
                routerLinkActive="active">
            <a class="nav-link active" aria-current="page" 
            routerLink="/"
            routerLinkActiveOptions="{exaxt: true}">Home</a>
          </li>

          <li class="nav-item"
            routerLinkActive="active">
            <a class="nav-link" 
            routerLink="/tutte">Tutte</a>
          </li>

          <li class="nav-item"
            routerLinkActive="active">
            <a class="nav-link" 
            routerLink="/in-offerta">In offerta</a>
          </li>

          <li class="nav-item"
            routerLinkActive="active">
            <a class="nav-link" 
            routerLink="/mio-noleggio">I miei noleggi</a>
          </li>
          <!-- <div *ngIf="authService.userData as user"> -->
          <li class="nav-item"
            routerLinkActive="active">
            <a class="nav-link" 
            routerLink="/add">Aggiungi</a>
          </li>
          <!-- </div> -->

          <div *ngIf="!authService.userData as user">
          <li class="nav-item"
            routerLinkActive="active">
            <a class="nav-link" 
            routerLink="/login">Login</a>
          </li>
        </div>

<div *ngIf="authService.userData as user">
          <li class="nav-item">
            <a class="nav-link active">
              <i class="fas fa-user">{{user.displayName}}</i>
            </a>
          </li>
</div>
<div *ngIf="authService.userData as user">
          <li class="nav-item">
            <a class="nav-link"
            (click)="authService.Logout()">
              logout
            </a>
          </li>
        </div>
        </ul>
        
      </div>
    </div>
  </nav>
